.book {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  gap: 1rem;
}

.book .cover {
  grid-row-start: 1;
  grid-row-end: 4;
}

.book .mainInfo {
  grid-column-start: 2;
  grid-column-end: 4;
}

.book .mainInfo .description {
  font-size: 0.95rem;
  margin-top: 1rem;
}

.book .mainInfo .firstMainInfo {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
}

.book .mainInfo .firstMainInfo .bookTitle {
  text-transform: uppercase;
  font-weight: bold;
}

.book .mainInfo .firstMainInfo .authorTitle {
  margin-top: -1rem;
}

.book .relatedBooks {
  grid-column-start: 2;
  grid-column-end: 5;
  margin-top: 4rem;
}

.book .relatedBooks .relatedBooksContainer {
  font-size: 1rem;
  display: flex;
}

.book .relatedBooks .relatedBooksContainer .relatedBookItem {
  height: 200px;
  width: 150px;
  margin-right: 1rem;
}

.book .relatedBooks .relatedBooksTitle {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.book .mainInfo .secondMainInfo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 1.5rem;
}

.book .mainInfo .secondMainInfo .title {
  color: rgb(78, 74, 74);
  text-transform: uppercase;
}

.book .mainInfo .secondMainInfo .value {
  text-transform: uppercase;
}

.book .mainInfo .button {
  background-color: #e01616;
  width: 150px;
  margin-top: 1rem;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: rgb(241, 233, 233);
  cursor: pointer;
}

@media only screen and (max-width: 970px) {
  .book .cover {
    display: none;
  }

  .book .mainInfo {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .book .relatedBooks {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 2rem;
  }

  .book .readingPerk {
    display: none;
  }
}
